@{
    ViewData["Title"] = "visuals";
}
<h1>@ViewData["Title"]</h1>

<p>i test visuals here.</p>


<div class="jumbotron">
    <h1 class="display-4">Welcome to our website!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>a round image(it looks a little too squished lmao):</p>
    <img src="~/images/ladle.png" alt="Profile Picture" class="profile-picture" />
</div>